@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'DM Serif Display', serif;
}

a{
  text-decoration: none;
}


h1{
  font-size: 55px;
  font-weight: 400px;
  color:black;
}

.content-header-font{
  font-size: 18px;
  font-weight: 400;
  color:black
}

.content-description-font{
  font-size: 14px;
  font-weight: 200;
  font-style: normal;
  color: #000000;
}

.footer-header-font{
  font-size: 20px;
  font-style: bold;
  color: white;
}

.footer-item-font{
  font-size: 12px;
  font-weight: 100;
  /* font-style: normal; */
  color:white;
}

.footer-default-font{
  font-size: 14px;
  font-style: normal;
  color: white;
}

.input-group{
  width: 40% !important;
}

.navigation-bar{
width: 100vw;
height: 8.5vh;
background-color: #000000;
color: white;
display: flex;
justify-content: space-between;
}

.nav-home{
  display: flex;
  font-size: 30px;
  font-weight: 300;
  margin: 0px 80px;
}

.nav-btn{
  color:white;
  margin: 20px 8px;
}

.nav-btn > a{
  color:white
}

.nav-button{
  display: flex;
  margin: 0px 80px;
}

.body-container{
  width: 100vw;
  height: 780px ;
}

.body-header{
  background-color: #dadbf1;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container{
  margin:50px 200px 20px 200px;
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.footer{
  width: 100vw;
  height: 300px;
  position: relative;
  bottom: 0;
  background-color: #000000;
  color: white;
}